<div class="row">
	<div class="col"></div>
	<div class="col-auto">
		<div class="row no-gutters">
			<div class="col-auto">
				<div class="counter">{{ $page }} стр.</div>
			</div>
			<div class="col-auto">
				<select class="form-control d-block" [(ngModel)]="$pageSize" (ngModelChange)="emitEvent()" id="pageSize" name="pageSize">
					<option [ngValue]="size" *ngFor="let size of pageSizeOptions">{{ size }}</option>
				</select>
			</div>
			<div class="col">
				<button type="button" class="d-block btn btn-icon btn-sm" [disabled]="$page <= 0" (click)="onPrevPage()">
					<span class="mdi mdi-chevron-left"></span>
				</button>
			</div>
			<div class="col">
				<button type="button" class="d-block btn btn-icon btn-sm" [disabled]="!hasMore" (click)="onNextPage()">
					<span class="mdi mdi-chevron-right"></span>
				</button>
			</div>
		</div>
	</div>
</div>
