<div class="row align-items-center justify-content-center" [style.height]="innerHeight + 'px'" @fadeIn>
	<div class="col-md-8 col-lg-6 col-xl-4">
		<form [formGroup]="queryParams" (ngSubmit)="search()">
			<label for="q" class="display-4">Поиск</label>
			<div class="row">
				<div class="col">
					<input type="text" class="form-control" id="q" name="q" formControlName="q" placeholder="Поиск..." />
				</div>
				<div class="col-auto">
					<button class="btn btn-primary">Поиск</button>
				</div>
			</div>
		</form>
	</div>
</div>
