<!-- <div class="toast row no-gutters">
	<div class="col">
		<div class="toast-text">{{ data.text }}</div>
	</div>
	<div class="col-auto">
		<button type="button" class="toast-close" (click)="close()"><span aria-hidden="true">×</span></button>
	</div>
</div> -->
<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-header">
		<!-- <img src="..." class="rounded mr-2" alt="..." /> -->
		<div [class]="'toast-icon toast-icon-' + data.type">
			<span [class]="'mdi mdi-' + types[data.type]"></span>
		</div>
		
		<strong class="mr-auto">{{ data.title }}</strong>
		<small *ngIf="created">{{ created }}</small>
		<button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Закрыть" (click)="close()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="toast-body">
		{{ data.text }}
	</div>
</div>
