<div class="row my-4" @fadeIn>
	<div class="col-12 mb-4"><a [routerLink]="['/']" class="btn btn-link">← Назад к поиску</a></div>
	<div class="col-12">
		<dl>
			<dt>Тема</dt>
			<dd>{{ question.title }}</dd>
		</dl>
		<dl>
			<dt>Автор</dt>
			<dd>{{ question.owner.display_name }}</dd>
		</dl>
		<dl>
			<dt>Лицензия контента</dt>
			<dd>{{ question.content_license }}</dd>
		</dl>
		<dl>
			<dt>Дата создания</dt>
			<dd>{{ tsToDate(question.creation_date) | date: "short" }}</dd>
		</dl>
		<dl>
			<dt>Количество ответов</dt>
			<dd>{{ question.answer_count | number: "1.0-0" }}</dd>
		</dl>
		<dl>
			<dt>Количество просмотров</dt>
			<dd>{{ question.view_count | number: "1.0-0" }}</dd>
		</dl>
		<dl>
			<dt>Теги</dt>
			<dd>{{ question.tags.join(", ") }}</dd>
		</dl>
	</div>
	<div class="col-12">
		<h3>Ответы</h3>
		<ul>
			<li *ngFor="let item of answers.items">
				ID: {{ item.answer_id }}, дата создания: {{ tsToDate(item.creation_date) | date: "short" }}
			</li>
		</ul>
	</div>
</div>
