<ng-container *ngIf="list">
	<div class="row" @fadeIn>
		<div class="col-12 my-4"><a [routerLink]="['/']" class="btn btn-link">← Назад к поиску</a></div>
		<div class="col-12">
			<h1 class="display-4 mb-4">Результаты поиска</h1>
		</div>
		<div class="col-12" [class.col-md-6]="similarList">
			<div class="form-group">
				<div class="row">
					<div class="col-md-3">
						<label for="sort">Сортировка</label>
						<select name="sort" id="sort" class="form-control" [(ngModel)]="queryParams.sort" (ngModelChange)="search()">
							<option [ngValue]="undefined">По активности</option>
							<option [ngValue]="'votes'">По голосам</option>
							<option [ngValue]="'creation'">По дате создания</option>
							<option [ngValue]="'relevance'">По релевантности</option>
						</select>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Автор вопроса</th>
							<th>Tема</th>
							<th>Количество ответов</th>
							<th>Tеги</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of list.items">
							<td>
								<button type="button" class="btn btn-link" (click)="showSimilarByAuthor(item.owner.user_id)" tabindex="0">
									{{ item.owner.display_name }}
								</button>
							</td>
							<td>
								<a [routerLink]="['/question', item.question_id]" class="btn btn-link text-left" tabindex="0">{{ item.title }}</a>
							</td>
							<td>
								<a [routerLink]="['/question', item.question_id]" class="btn btn-link text-left" tabindex="0">{{
									item.answer_count | number: "1.0-0"
								}}</a>
							</td>
							<td>
								<ng-container *ngFor="let tag of item.tags"
									><button type="button" class="btn btn-link" (click)="showSimilarByTag(tag)" tabindex="0">{{ tag }}</button>
								</ng-container>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-6" *ngIf="similarList">
			<div class="row">
				<div class="col">
					<h2 class="display-4 mb-4">Похожие результаты</h2>
				</div>
				<div class="col-auto">
					<button type="button" class="btn btn-link" (click)="closeSimilar()">&times;</button>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Автор вопроса</th>
							<th>Tема</th>
							<th>Rоличество ответов</th>
							<th>Tеги</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of similarList.items">
							<td>{{ item.owner.display_name }}</td>
							<td>
								<a [routerLink]="['/question', item.question_id]" class="btn btn-link text-left" tabindex="0">{{ item.title }}</a>
							</td>
							<td>
								<a [routerLink]="['/question', item.question_id]" class="btn btn-link text-left" tabindex="0">{{ item.answer_count }}</a>
							</td>
							<td>
								<ng-container *ngFor="let tag of item.tags"
									><button type="button" class="btn btn-link" (click)="showSimilarByTag(tag)" tabindex="0">{{ tag }}</button>
								</ng-container>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</ng-container>
