a,
button,
input,
textarea {
	font-weight: 400;
}

small {
	font-weight: inherit;
}

.text-link {
	color: #007bff;
	cursor: pointer;

	&:hover {
		color: #0056b3;
		text-decoration: underline;
	}
}

.image-container {
	overflow: hidden;
	position: relative;

	&::after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}

	img {
		height: 100%;
		left: 50%;
		object-fit: cover;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
}

.table-responsive {
	-webkit-overflow-scrolling: auto;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
}

#nprogress {
	.bar {
		background: #384c41;
		height: 3px;
	}

	.spinner-icon {
		border-left-color: #384c41;
		border-top-color: #384c41;
	}

	.peg {
		display: none;
	}
}

#loading-overlay {
	align-items: center;
	background-color: #fff;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	opacity: 1;
	position: fixed;
	right: 0;
	top: 0;
	transition: 300ms ease opacity, 300ms ease visibility;
	visibility: visible;
	z-index: 10000;

	&.hide {
		opacity: 0;
		visibility: hidden;
	}

	#loading-message {
		color: rgba(#384c41, .9);
		font-size: 22px;
		font-weight: 400;
		margin: 0 auto;
		max-width: 500px;
		padding: 0 25px;
		text-align: center;
		width: 100%;

		small {
			color: rgba(#384c41, .7);
			display: block;
			padding: 20px;
		}
	}

	.loading-spinner {
		display: block;
		height: 80px;
		margin: 0 auto 30px;
		position: relative;
		width: 80px;

		div {
			animation-timing-function: cubic-bezier(0, 1, 1, 0);
			background-color: #5d9cec;
			border-radius: 50%;
			height: 13px;
			position: absolute;
			top: 33px;
			width: 13px;

			&:nth-child(1) {
				animation: loading-spinner1 .6s infinite;
				left: 8px;
			}

			&:nth-child(2) {
				animation: loading-spinner2 .6s infinite;
				left: 8px;
			}

			&:nth-child(3) {
				animation: loading-spinner2 .6s infinite;
				left: 32px;
			}

			&:nth-child(4) {
				animation: loading-spinner3 .6s infinite;
				left: 56px;
			}
		}
	}
}

@keyframes loading-spinner1 {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes loading-spinner3 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

@keyframes loading-spinner2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(24px, 0);
	}
}
