.toast {
	font-size: 14px;
	width: 280px;

	.toast-icon {
		border-radius: 3px;
		color: #fff;
		height: 24px;
		line-height: 24px;
		margin-right: 10px;
		text-align: center;
		width: 24px;

		&.toast-icon-error {
			background-color: #dc3545;
		}

		&.toast-icon-warn {
			background-color: #fd7e14;
		}

		&.toast-icon-info {
			background-color: #17a2b8;
		}

		.mdi::before {
			vertical-align: baseline;
		}
	}

	.toast-header {
		border-bottom: 1px solid rgba(0, 0, 0, .05);
	}
}
